* {
  color: rgb(255, 255, 255);
}

.name {
  display: inline-block;
  text-align: left;
  color: rgb(167, 167, 167);
  font-size: 2em;
}

.name::after {
  content: "Coder'";
  padding-left: 5px;
  color: #50e48d
}

.main-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/craggy-dune.jpeg);
  background-size: cover;
  padding: 20px;
}

.avatar {
  border-radius: 50%;
  border: white 3px solid;
  align-items: left;
}

.sub-title {
  color: #E19627;
  padding: 10px;
  text-align: right;
}

.nav li{
  display: inline;
  font-size: 1.2em;
}

.nav a {
  padding: .5em;
  color: rgb(167, 167, 167)
}

.nav a:hover {
  color: #E19627;
}

.nav ul {
  text-align: right;
}

.content {
  background-color: #108194;
}

.sub-header {
  display: block;
}