/* body {
  padding: ;
} */

* {
  color: rgb(216, 216, 216);
}

.name {
  display: inline-block;
  text-align: left;
  color: rgb(167, 167, 167);
  font-size: 2em;
}

.name::after {
  content: "Coder'";
  padding-left: 5px;
  color: #50e48d
}

.main-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/craggy-dune.jpeg);
  background-size: cover;
  padding: 20px;
}

.avatar {
  border-radius: 50%;
  border: white 3px solid;
  align-items: left;
}

.sub-title {
  color: #E19627;
  text-shadow: 1px 2px 2px  #777;;
  padding: 10px;
  text-align: right;
}

.nav li{
  display: inline;
  font-size: 1.2em;
}

.nav a {
  padding: .5em;
  color: rgb(167, 167, 167)
}

.nav a:hover {
  color: #E19627;
}

.nav ul {
  text-align: right;
}

/*.content {
  display: grid;
  grid-template-columns: 200px 800px;
  grid-template-rows: 300px 600px 100px;
  background-color: #108194;
  margin: 0 auto;
  padding: 40px;
}
 .sub-header {
  grid-area: sub-header-content;
}
#about-me {
  grid-area: about-me-content;
}
#work {
  grid-area: work-content;
}
#contact-me {
  grid-area: contact-me-content;
} */

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 3fr 1fr;
  background-color: #2196F3;
  grid-gap: 10px;
  padding: 10px;
  justify-content: center;
  align-items:center; 
}

.item1 {
}

.item2 {
}

.item3 {
}

.item4 {
}

.item5 {
}

.item6 {
}