body {
  color: rgb(241, 125, 125);
  margin: 0 auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  padding-bottom: 50px;
}

.banner-bg {
  background-image: url(../images/banner-circuit.jpg);
  z-index: 2;
}
/* TODO finishing building grid here */
.grid {
  display: grid;
  grid-template-areas: ". content . "
  ". content .";
  gap: 10px;
  padding: 0 40px;
}

.content {
  color: rgb(241, 125, 125);
  grid-area: content;
  max-width: 1000px;
  width: 100%;
}

.avatar {
  border-radius: 50%;
}

/* .sub-title {
} */